<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    {load href="/static/css/s_index.css"/}
    {load href="/static/css/s_nav.css"/}
        <!-- <link rel="stylesheet" href="1.png" type="image/png"> -->

    

</head>

<body>
    <div class="container">
        <header>
            <nav>
                <span class="nav_bth nav_bth_first">
                    <img src="/static/image/logo.jpg" alt="logo">
                </span>
                <span class="nav_bth">首页</span>
                <span class="nav_bth">我的课程</span>
                <span class="nav_bth">课程申请</span>
                <span class="nav_bth">个人中心</span>
                <a class="nav_bth" href="/index/index/logout?channel=student">退出</a>
            </nav>

        </header>
        <main>
            <section class="main_img ">
                <img src="/static/image/header.jpg" alt="学院全景图">
            </section>
            <section class="main_sec" id="main_top">
                <div class="sec_top_left div_border">
                    <span class="top_title">
                        <h4>个人中心</h4>
                        <p>MORE
                            <<</p>
                    </span>
                    <div class="person">
                        <img src="/static/image/css.jpg" alt="头像">
                        <div class="person_text">
                            <p>欢迎您~</p>
                            <p>陈奕迅老师</p>
                            <p>jmu2014211</p>
                        </div>

                    </div>
                </div>
                <div class="sec_top_center div_border">
                    <span class="top_title">
                        <h4>我的课程</h4>
                        <p>MORE
                            <<</p>
                    </span>
                    <div class="top_center_big">
                        <div class="top_center_left">
                            <h4>本学期课程：</h4>
                            <p>JAVA</p>
                            

                        </div>
                        <div class="top_center_right">
                            <div class="center_right">
                                <span class="squrt_center "></span>
                                <p>[CSS+HTML]2018-03-05课件</p>
                                <p>2018-03-05</p>
                                <p class="center_right_three">
                                
                                <a href="" class="">下载</a>
                            </p>

                            </div>

                            <div class="center_right">
                                <span class="squrt_center "></span>
                                <p>[CSS+HTML]2018-03-05课件</p>
                                <p>2018-03-05</p>
                                <p class="center_right_three">                       
                                <a href="" class="">下载</a>
                            </p>

                            </div>
                            <div class="center_right">
                                <span class="squrt_center "></span>
                                <p>[CSS+HTML]2018-03-05课件</p>
                                <p>2018-03-05</p>
                                <p class="center_right_three">                       
                                    <a href="" class="">下载</a>
                                </p>

                            </div>
                            <div class="center_right">
                                <span class="squrt_center "></span>
                                <p>[CSS+HTML]2018-03-05课件</p>
                                <p>2018-03-05</p>
                                <p class="center_right_three">                       
                                    <a href="" class="">下载</a>
                                </p>

                            </div>
                            <div class="center_right">
                                <span class="squrt_center "></span>
                                <p>[CSS+HTML]2018-03-05课件</p>
                                <p>2018-03-05</p>
                                <p class="center_right_three">                       
                                    <a href="" class="">下载</a>
                                </p>

                            </div>
                            <div class="center_right">
                                <span class="squrt_center "></span>
                                <p>[CSS+HTML]2018-03-05课件</p>
                                <p>2018-03-05</p>
                                <p class="center_right_three">                       
                                    <a href="" class="">下载</a>
                                </p>

                            </div>
                            <div class="center_right">
                                <span class="squrt_center "></span>
                                <p>[CSS+HTML]2018-03-05课件</p>
                                <p>2018-03-05</p>
                                <p class="center_right_three">                       
                                    <a href="" class="">下载</a>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="sec_top_right div_border">
                    <span class="top_title">
                        <h4>通知</h4>
                        <p>MORE
                            <<</p>
                    </span>
                    <div class="right_scroll">

                        <div class="right_text">
                            <span class="squrt"></span>
                            <p>[java]关于2018年4月28日上午10....</p>
                        </div>
                        <div class="right_text">
                            <span class="squrt"></span>
                            <p>[java]关于2018年4月28日上午10....</p>
                        </div>

                        <div class="right_text">
                            <span class="squrt"></span>
                            <p>[java]关于2018年4月28日上午10....</p>
                        </div>
                        <div class="right_text">
                            <span class="squrt"></span>
                            <p>[java]关于2018年4月28日上午10....</p>
                        </div>
                        <div class="right_text">
                            <span class="squrt"></span>
                            <p>[java]关于2018年4月28日上午10....</p>
                        </div>
                        <div class="right_text">
                            <span class="squrt"></span>
                            <p>[java]关于2018年4月28日上午10....</p>
                        </div>
                        <div class="right_text">
                            <span class="squrt"></span>
                            <p>[java]关于2018年4月28日上午10....</p>
                        </div>
                        <div class="right_text">
                            <span class="squrt"></span>
                            <p>[java]关于2018年4月28日上午10....</p>
                        </div>
                        <div class="right_text">
                            <span class="squrt"></span>
                            <p>[java]关于2018年4月28日上午10....</p>
                        </div>





                    </div>
                </div>
            </section>
            <section id="main_bottom">
                <span class="top_title">
                    <h4></h4>
                    <p>MORE
                        <<</p>
                </span>
               

            </section>
        </main>
    </div>
</body>

</html>