<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>详细课程</title>
    {load href="/static/css/s_nav.css"/}   
    {load href="/static/css/html-body-container.css"/}
    {load href="/static/css/s_box-title.css"/}
    {load href="/static/css/s_mycourse.css"/}
    {load href="/static/css/s_search.css"/}
    
    <style>
        main{
            padding: 20px;
        }


    </style>


    <head>
        <meta charset="UTF-8">
        <title>课程</title>
        <style>
       


            /* =================================================== */
        </style>
    </head>

    <body>
   
        <div class="container">
            <header>
                <nav>
                    <span class="nav_bth nav_bth_first">
                        <img src="/static/image/logo.jpg" alt="logo">
                    </span>
                    <span class="nav_bth">
                        <a href="/student">首页</a>
                    </span>
                    <span class="nav_bth">
                        <a href="/student/index/mycourse">我的课程</a>
                    </span>
                    <span class="nav_bth">
                        <a href="/student/index/course">课程列表</a>
                    </span>
                    <span class="nav_bth"><a href="/student/index/changepwd">修改密码</a></span>
                    <a class="nav_bth" href="/index/index/logout?channel=student">登出</a>
                </nav>

            </header>
            <main>
                <!-- ================搜索框=========== -->
                <div class="search">
                    <form action="/student/index/course" method="get" >
                        <input name="name" type="text" placeholder="请输入您要搜索的课程名称" value="{$name}">
                        <input name="teacherName" type="text" placeholder="请输入您要搜索任课老师姓名" value="{$teacherName}">
                        <input  type="submit" value="搜索">
                    </form>
                </div>
            <!-- /* ==========================内容部分========================= */ -->
                {if condition="!empty($pager['data'])"}
                {volist name="pager.data" id="data"}
            <section>
                    <div class="sec_left">

                        <li class="course">
                            <div class="course_img">
                                <img src="{php}echo empty($data['image'])?'/static/image/css.jpg':$data['image']{/php}" alt="logo">
                            </div>
                            <div class="text">
                                <span class="span_one">
                                    <h4>{$data.name}</h4>
                                    <p>{$data.teacherName}</p>
                                </span>
                                <span class="span_two">
                                    <p>{php}echo $data['join']==0?'添加课程':'<a href="/student/index/coursedetail?id='.$data['Id'].'">进入课程</a>';{/php}</p>
                                    <p>推荐指数：5</p>
                                </span>
                            </div>
                        </li>
                    </div>
                    <div class="sec_right">
    
                        <div class="sec_right_text">
                            <h3>{$data.name}</h3>
                        </div>
                        <div class="sec_right_text">
                            <h4>任教老师：{$data.teacherName}</h4>
                            <p>联系方式：{$data.teacherEmail}</p>
                        </div>
                        <div class="sec_right_text">
                            <p>开课时间：{php}echo date('Y-m-d',$data['start_time']);{/php}</p>
                            <p>结束时间：{php}echo date('Y-m-d',$data['end_time']);{/php}</p>
                        </div>
                        <div class="sec_right_text">
                            <h4>课程简介：</h4>
                        </div>
                        <div class="sec_right_text  sec_right_text_p">
                            <p>{$data.describe}</p>
                        </div>
                    </div>
            </section>
                {/volist}
                {else}
                <p>没有课程</p>
                {/if}


        </main>
    </div>
    </body>

</html>